DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/betrip
OPENAI_API_KEY=sk-...
JWT_SECRET_KEY=your_jwt_secret_key_here
CORS_ORIGINS=http://localhost:5173
COOKIE_SECURE=false #배포할 때는 true로 바꿔야 함

# 카카오 API Key
KAKAO_REST_API_KEY=...

# 네이버 API Key
NAVER_CLIENT_ID=...
NAVER_CLIENT_SECRET=...

# Gemini API Key
GEMINI_API_KEY=...

# 관광 API Key
TOUR_API_KEY=...
